:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  height: 100vh;
  line-height: normal !important;
}

#app {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  overflow: hidden;
}
